<section id="promo--how-to" class="container center">
  <div class="content">
    <h2>How to get involved</h2>
    <div class="cards cards--red-v-blue">
      <div class="cards--red-v-blue__card">
        <h3>Pledge any Amount</h3>
        <p>
          Talk to Calvin. Any amount you pledge will go a long way for a new school.
        </p>
        <a href="mailto:ch235@cornell.edu" class="btn">
          Contact Us <ion-icon name="arrow-forward"></ion-icon>
        </a>
      </div>
      <div class="cards--red-v-blue__card">
        <h3>Support a Student</h3>
        <p>
          At $50 a month, you cover the cost of transportation and school supplies for 4-5 students
        </p>
        <a href="/give" class="btn">
          Give <ion-icon name="arrow-forward"></ion-icon>
        </a>
      </div>
      <div class="cards--red-v-blue__card">
        <h3>Support a Teacher</h3>
        <p>
          At $250 a month, it covers the salary for a teacher, who has a typical class size of 15 students
        </p>
        <a href="/give" class="btn">
          Give <ion-icon name="arrow-forward"></ion-icon>
        </a>
      </div>
    </div>
  </div>
</section>
