<script>
  window.API_URL = "{{ API_URL }}";
  window.DASHBOARD_URL = "{{ DASHBOARD_URL }}";
</script>

{% if dev %}
  <script src="/js/ionic-site.js?v=9f8f31770545b7c3cf7af09f173bdf14"></script>
{% else %} 
  <script src="/js/ionic-site.min.js?v=ed735a01f9a59ef57fce95cf55b59843"></script>
{% endif %}

{% if dev or PRISMIC_PREVIEW %}
<script>
  window.prismic = {
    endpoint: 'https://middleeast.cdn.prismic.io/api/v2'
  };
</script>
<script type="text/javascript" src="https://static.cdn.prismic.io/prismic.min.js"></script>
{% endif %}

{% if stickyNav %}
<script>
  stickyNav && stickyNav.init();
</script>
{% endif %}

{% if page.footer_includes %}{{ page.footer_includes }}{% endif %}
