{% extends '_layouts/base.html' %}
{% set id = 'native' %}
{% set pre_footer = false %}
{% set title = "Institute" %}
{% set meta_image = 'https://ionicframework.com/img/meta/native-ogimg.png'%}
{% set meta_description = '' %}
{% set header_style = 'transparent light' %}
{% set stickyNav = false %}
{% set cssPath = 'enterprise/platform' %}

{% block main %}

<ionic-sub-header>
  <ul class="breadcrumbs" slot="breadcrumbs">
    <li><a href="/nonprofits">Institute</a></li>
  </ul>
  <ul slot="right">
    <li><a href="" class="active">Overview</a></li>
    <li><a href="/resources">Resources</a></li>
  </ul>
</ionic-sub-header>

<hgroup class="container ee-hero ee-hero--centered">
  <h1>People in Need Institute</h1>
  <p>To educate the Lebanese and Syrian future generations</p>
</hgroup>

<main class="ee-main">
  <section id="oss" class="container right">
    <div class="content">
      <h4 class="ee-section__title">Afternoon Classes</h4>
      <h2>Students</h2>
      <p>
        90 students, with free tuition and transportation, will have the opportunity to learn the important subjects such as Math, English, Arabic, Science, Social-emotional Support, and Bible so they are developed holistically as a person
      </p>
    </div>
    <div class="graphics" style="margin-right: 10px">
      <img src="/img/christmas.jpg"
           loading="lazy"
           width="539" height="510"
           alt="students">
    </div>
  </section>
  <div id="education"></div>
  <section id="oss" class="container right">
    <div class="content">
      <h4 class="ee-section__title">Stable Work and Pay</h4>
      <h2>Teachers</h2>
      <p>When Lebanon is not paying her teachers, we step in</p>
      <p class="sm">
        80% of our budget goes to our teachers' salary. At $250 a month, you can provide a livable wage to a teacher who can bring home enough pay to support her family.
      </p>
      <!--<ul class="frameworks">
        <li class="frameworks__angular"></li>
        <li class="frameworks__react"></li>
        <li class="frameworks__vue"></li>
        <li class="frameworks__js"></li>
      </ul>-->
    </div>
    <div class="graphics">
      <img src="/img/intro_3.png"
           loading="lazy"
           width="1579" height="1536"
           alt="Education">
    </div>
  </section>

  <!--<section id="devops" class="container left">
    <div class="content">
      <h4 class="ee-section__title">DevOps</h4>
      <h2>Ship continuously</h2>
      <p>Automate every phase of app delivery - from native app builds to realtime updates - all from a central hub with secure access for the whole team.</p>
    </div>
    <div class="graphics">
      <img  src="/img/enterprise/platform/devops-graphic.png"
            alt="Appflow"
            loading="lazy"
            width="2070" height="1268"/>
    </div>
  </section>

  <section id="integrations" class="center">
    <div class="content container">
      <h4 class="ee-section__title">Integrations</h4>
      <h2>Yes, we integrate with that</h2>
      <p>
        From community plugins to premium supported integrations, People in Need has you
        covered. Unlock unmatched native power, speed, and core functionality
        across all your apps.
      </p>
    </div>
    <ul id="integration-list" class="integration-list">
      <li><img src="/img/homepage/integrations/paypal-integration.png" loading="lazy" width="256" height="256" alt="Paypal"/></li>
      <li><img src="/img/homepage/integrations/heroku-integration.png" loading="lazy" width="256" height="256" alt="Heroku"/></li>
      <li><img src="/img/homepage/integrations/couchbase-integration.png" loading="lazy" width="256" height="256" alt="Couchbase"/></li>
      <li><img src="/img/homepage/integrations/aws-amplify-integration.png" loading="lazy" width="256" height="256" alt="AWS Amplify"/></li>
      <li><img src="/img/homepage/integrations/android-fingerprint-integration.png" loading="lazy" width="256" height="256" alt="Android Fingerprint"/></li>
      <li><img src="/img/homepage/integrations/apple-faceid-integration.png" loading="lazy" width="256" height="256" alt="Apple FaceID"/></li>
      <li><img src="/img/homepage/integrations/active-directory-integration.png" loading="lazy" width="256" height="256" alt="Active Directory"/></li>
      <li><img src="/img/homepage/integrations/apple-pay-integration.png" loading="lazy" width="256" height="256" alt="ApplePay"/></li>
      <li><img src="/img/homepage/integrations/firebase-integration.png" loading="lazy" width="256" height="256" alt="Firebase"/></li>
      <li><img src="/img/homepage/integrations/google-maps-integration.png" loading="lazy" width="256" height="256" alt="Google Maps"/></li>
      <li><img src="/img/homepage/integrations/ios-camera-plugin-integration.png" loading="lazy" width="256" height="256" alt="Camera"/></li>
      <li><img src="/img/homepage/integrations/sqlite-integration.png" loading="lazy" width="256" height="256" alt="SQLite"/></li>
      <li><img src="/img/homepage/integrations/stripe-integration.png" loading="lazy" width="256" height="256" alt="Stripe"/></li>
      <li><img src="/img/homepage/integrations/touch-id-ios-integration.png" loading="lazy" width="256" height="256" alt="TouchID"/></li>
    </ul>
  </section>-->

  <section id="advisory" class="container cta-card left">
    <div class="content">
      <h4 class="ee-section__title">Facility</h4>
      <h2>We have secured classrooms and staff</h2>
      <p>Our ministry partner, the Syriac Orthodox Diocese of Baalbeck and Zahle, has provided us with access to their facility at practically no cost. As foreign missionaries leave Lebanon with their donor base, we step in to hire local teachers so the work of education can continue.</p>
    </div>
  </section>

  {% include '_includes/promos/how-to-get-started.html' %}
  <div style="height: 90px;"></div>
</main>

<!--<aside id="ee-get-started" >
  <div class="container get-started center hubspot-override hubspot-override&#45;&#45;large hubspot-override&#45;&#45;measure">
    <hgroup class="content">
      <h3>Learn more about</h3>
      <h2>People in Need for Non-profits</h2>
    </hgroup>
    <script charset="utf-8"
            type="text/javascript"
            src="//js.hsforms.net/forms/v2-legacy.js"></script>
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
    <script>
      hbspt.forms.create({
        portalId: "4389946",
        formId: "d8e1040c-cb7f-4d7d-a938-94600f522c04"
      });
    </script>
  </div>
</aside>-->

<section class="resources">
  <div class="container">
    <additional-resources page="native"></additional-resources>
  </div>
</section>

{% endblock %}

{% block scripts %}
<script>
  $('body').scrollspy({ target: '#sticky-bar', offset: 250 })
</script>
{% endblock %}
