{% extends "_layouts/base.html" %}
{% set id = 'team' %}
{% set title = 'Get to Know the Team Behind People in Need' %}
{% import "_includes/macros.html" as macros %}
{% set cssPath = 'team' %}

{% block main %}
<div class="cta banner">
  <hgroup class="container">
    <h1>Our Team</h1>
    <p>Get to know the team behind People in Need</p>
  </hgroup>
  <div class="bar tabbed" data-spy="affix" data-offset-top="375">
    <div class="container" id="discover-nav" offset="-400">
      <ul class="categories nav">
        <li><a class="about" href="/about">About Us</a></li>
        <!--<li><a class="values" href="/values">Values</a></li>-->
        <li><a class="active team" href="/team">Our Team</a></li>
        <li><a class="jobs" href="/jobs">Opportunities</a></li>
        <li><a class="contact" href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>

<hgroup class="container made-of">
  <h3>Led By Syrian Leaders</h3>
  <p class="lg strong">
    Fady is the field coordinator based in Zahle, Lebanon. He runs the day of day operation of the project, from securing food supplies to visiting families in need. We also have a growing list of volunteers assisting with the distribution work.
  </p>
</hgroup>

<section class="container employees">
  {% for e in employees %}
    {{ macros.employee(e) }}
  {% endfor  %}
  {% if employees.length % 4 != 0 %}
    <a class="employee apply" href="/jobs">
      <img class="avatar" src="/img/team/apply.jpg"/>
      <hgroup>
        <h4>You?</h4>
        <p class="blue">Check volunteer opportunities</p>
      </hgroup>
    </a>
  {% endif %}
</section>

<div class="hero text-center">
  <hgroup class="container">
    <h3>We have big dreams for the Middle East.</h3>
    <p><a href="/jobs" class="btn white">See volunteer opportunities</a></p>
  </hgroup>
</div>

{% endblock %}
