{% extends "_layouts/base.html" %}
{% set id = 'team' %}
{% set title = 'Get to Know the Team Behind People in Need' %}
{% import "_includes/macros.html" as macros %}
{% set cssPath = 'team' %}

{% block main %}
<div class="cta banner">
  <hgroup class="container">
    <h1>Our Team</h1>
    <p>Get to know the team behind People in Need</p>
  </hgroup>
  <div class="bar tabbed" data-spy="affix" data-offset-top="375">
    <div class="container" id="discover-nav" offset="-400">
      <ul class="categories nav">
        <li><a class="about" href="/about">About Us</a></li>
        <!--<li><a class="values" href="/values">Values</a></li>-->
        <li><a class="active team" href="/team">Our Team</a></li>
        <li><a class="jobs" href="/jobs">Opportunities</a></li>
        <li><a class="contact" href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>

<hgroup class="container made-of">
  <h3>Meet the Team</h3>
  <p class="lg strong">
    Fady is the director of People in Need, based in Zahle, Lebanon. He is in charge of the Institute, as well as being the teacher and the driver for the students. We also have a growing list of volunteers assisting with the quarterly food distribution event.
  </p>
  <p>
    Since 2011, the Lord has used Fady in the teaching profession, especially teaching students from very challenging backgrounds. He has taught many subjects, including Bible, Computer, and Math in refugee camps. In the camp, he created and taught lessons to student from age 5 to 12. He also created and taught technical/vocational classes to youth.
  </p>
</hgroup>

<section class="container employees">
  {% for e in employees %}
    {{ macros.employee(e) }}
  {% endfor  %}
  {% if employees.length % 4 != 0 %}
    <a class="employee apply" href="/jobs">
      <img class="avatar" src="/img/team/apply.jpg"/>
      <hgroup>
        <h4>You?</h4>
        <p class="blue">Check volunteer opportunities</p>
      </hgroup>
    </a>
  {% endif %}
</section>

<div class="hero text-center">
  <hgroup class="container">
    <h3>We have big dreams for the Middle East.</h3>
    <p><a href="/jobs" class="btn white">See volunteer opportunities</a></p>
  </hgroup>
</div>

{% endblock %}
